Algoritmo KNN

Este notebook é para exercitar algumas funcionalidades do algoritmo KNN. Será usado o "dataset" IRIS, presente na biblio "SKLEARN". 

Primeiramente, realizar a importação do dataset e do pandas.

In [1]:
from sklearn import datasets
import pandas as pd

In [7]:
# carregango o dataset iris num objeto
iris = datasets.load_iris()

In [9]:
# criando um dataframe com o conjunto de dados iris
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [10]:
# criando um atributo alvo:

df['target'] = iris.target

In [11]:
df # podemos observar que o atributo "target" apresenta um numero correspondente a cada tipo/classificação.

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [12]:
# quais são os tipos de target_names (nomes da classificação)
iris.target_names # comando para verificar os nomes. Observe que são classificadas como: setosa, versicolor e virginica.

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [14]:
# especificando, nomeando o que corresponde cada número do atributo 'target'
df['target_name'] = iris.target_names[df['target']]
df  # observa-se que: 0 = setosa;  1 = versicolor  e  2 = virginica.  O df tem 50 observações de cd planta

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [15]:
# determinar quais features farão parte do modelo:
iris_features = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [16]:
# selecionadas as features, determinar o alvo (y) - "lembrando que precisa ser um atributo do tipo numérico para usar no algo KNN"
y = df.target

In [17]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [19]:
# do conjunto de dados do 'df', selecionar as features usadas (X) 'x em MAIÚSCULA p variáveis preditoras. 

X = df[iris_features]

# verificando X:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

Uso do Scikit-learn

Define = escolher o modelo (definir os parametros).

Fit = Treinando o modelo.

Predict = realizando as previsões.

Evaluete = Análise do modelo.

In [22]:
#importando o algo KNN

from sklearn.neighbors import KNeighborsClassifier

In [23]:
# Selecionar o modelo
modelo = KNeighborsClassifier(3) # o 3 indica os 3 "vizinho mais próximo ao alvo"

In [24]:
# etapa de treino:
modelo.fit(X,y)

KNeighborsClassifier(n_neighbors=3)

In [25]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [27]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [26]:
# uma vez treinado, vamos verificar os resultados preditos pelo modelo em questão

print(modelo.predict(X))

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1
 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 1 2 2 2 2
 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [28]:
# verificando a acurácia do modelo

modelo.score(X,y)

0.96

In [ ]:
# a predicão acertou 96 % dos casos na classificação.